{% extends "contenido.html" %}
{% load static %}
{% block title %} Kangaro Company {%endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}
{% block content %}

<!-- Header -->

<div class="container">

    <div class="row header mb-2">

        <div class="col-md-12 left-content">

            <div class="content-img d-flex justify-content-center align-items-center">

                <img src="{% static 'img/icon.png' %}" alt="" class="img-fluid" width="15%" height="5%">
                <img src="{% static 'img/word.png' %}" alt="" class="img-fluid" width="35%">
            </div>

        </div>

    </div>

</div>

<!-- Navbar -->

<div class="container">

    <div class="row">

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg d-flex justify-content-between">

            <div class="container m-2">

                <div class="nav-title m-auto">

                    <a class="navbar-brand" href="../inicio">Kangaro Company Perú</a>

                </div>

            </div>

            <div class="container m-2">

                <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                    
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">

                        <li class="nav-item">

                            <a class="nav-link" href="/#about">Nosotros</a>
                        
                        </li>
                        
                        <li class="nav-item">

                            <a class="nav-link" href="/#history">Historia</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'contacto' %}">Contactanos</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'ayuda' %}">Ayuda</a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </div>

</div>

<!-- Contenido -->

<div class="container">

    <div class="row">

        <div class="col-md-12 mb-5">

            <h1 class="text-center m-4">Cual es su problema</h1>

            <div class="col-md-6 p-4 m-auto" style="border: 1px solid #000;">

                <h2 class="text-center">Formulario</h2>
                <p class="text-muted text-center">Envio de su problema a Kangaro</p>

                <form action="" method="post">

                    {% csrf_token %}

                    {{form.as_p}}

                    <div class="form-group mt-3">

                        <input type="submit" value="Enviar formulario" class="btn btn-primary form-control">

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock content %}