{% extends "contenido.html" %}
{% load static %}
{% block title %} Kangaro Company {%endblock%}
{% block styles %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}
{% block content %}

<!-- Header -->

<div class="container">

    <div class="row" style="margin: 0px 20px 0px 20px;">

        <div class="col-md-6 col-sm-12 d-flex align-items-center">
            {% for user in users %}
                <a href="#"><i class='fas fa-bars' id="menu-icon"></i></a>
                <img src="{{user.profileUser.url}}" alt="" class="img-fluid" style="width: 80px; height: 80px; margin:0 20px 0 20px;">
                <p>{{user.nombresUs}}</p>
            {% endfor %}
        </div>

        <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-end text-end">

            <div class="right-content">

                <div class="context-right text-center" style="margin-right: 50px; margin-top: 10px;">

                    <h2>KANGARO CORP</h2>
                    <p>Conectate con el mundo</p>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="dropdown-menu" id="menu-dropdown" style="position: fixed; top: 0; left: 0; width: 250px; background-color: white; padding: 20px; height: 100vh;">

    <!-- Enlace de Cerrar -->
    <div class="close-container text-end" style="font-size: 20px;">

        <a class="" href="#" id="close-menu" style="text-decoration: none; color: #000;">X</a>

    </div>
    <div class="dropdown-divider"></div>
    {% for user in users %}
        <h4>{{user.nombresUs}}</h4>
    {% endfor %}
    <div class="dropdown-divider"></div>
    {% for user in users %}
        <a class="dropdown-item" href="../homepage_user/{{user.id_usuario}}">Pagina Principal</a>
        <a class="dropdown-item" href="../curriculum/{{user.id_usuario}}">Ver perfil</a>
    {% endfor %}
    <a class="dropdown-item" href="../login">Cerrar sesion</a>
    
</div>

<!-- Navbar -->

<div class="container">

    <div class="row">

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg d-flex justify-content-center align-items-center">

            <ul class="navbar-nav m-2">

                <li class="nav-item">

                    <a href="" class="nav-link">Editar Cuenta</a>

                </li>

                <li class="nav-item">

                    {% for user in users %}

                        <a href="../crear_curriculum/{{user.id_usuario}}" class="nav-link">Crear CV</a>
                        
                    {% endfor %}

                </li>

            </ul>

        </nav>

    </div>

</div>

<!-- Contenido -->

<div class="container">

    <h2 class="text-center mt-4">Curriculum Vitae</h2>

    <div class="row p-4 m-3" style="border: 1px solid #000;">

        <div class="col-md-12 d-flex align-items-center justify-content-center p-3" style="border: 1px solid #000;">

            <!-- Profile Picture -->
            {% for user in users %}
                <img src="{{user.profileUser.url}}" alt="" class="img-fluid" style="width: 80px; height: 80px; margin:0 20px 0 20px;">
                <div class="container-data-user text-center">
                    <p>{{user.nombresUs}}</p>
                    <p>{{user.id_categoria_profesional}}</p>
                </div>

            {% endfor %}

        </div>

        <div class="col-md-12 d-flex mt-3 p-3" style="border: 1px solid #000;">

            <div class="col-md-4 p-3">

                <h3>Contacto</h3>

                <hr style="border: 1px solid #ccc;">

                {% for user in users %}

                    <p>Numero: {{user.telefono}}</p>
                    <p>Correo: {{user.correoUs}}</p>
                    <p>Direccion: {{user.direccion}}</p>

                {% endfor %}

                <hr style="border: 1px solid #ccc;">

                {% for curr in currl %}

                    <h3>Idiomas</h3>
                    <p>{{curr.idiomas}}</p>
                    <hr style="border: 1px solid #ccc;">
                    <h3>Conocimientos</h3>
                    <p>{{curr.conocimientos}}</p>
                    <hr style="border: 1px solid #ccc;">
                    <h3>Habilidades</h3>
                    <p>{{curr.habilidades}}</p>

                {% endfor %}

            </div>
            <div class="col-md-8 p-3">

                {% for curr in currl %}

                    <h3>Perfil Profesional</h3>

                    <hr style="border: 1px solid #ccc;">

                    <p>{{curr.perfil_profesional}}</p>

                    <h3>Formacion Academica</h3>

                    <hr style="border: 1px solid #ccc;">

                    {% for formacion in formaciones %}

                    <div class="contenido-formacion m-3 p-3" style="border: 1px solid #000;">

                        <h4>{{formacion.nombreInstitucion}}</h4>
                        <p>{{formacion.grado_titulo}}</p>
                        <p>{{formacion.carrera}} - {{formacion.inicio}} / {{formacion.fin}}</p>


                    </div>

                    {% endfor %}

                    <h3>Experiencia Laboral</h3>
                    <hr style="border: 1px solid #ccc;">

                    {% for experiencia in experiencias %}

                        <div class="contenido-experiencia m-3 p-3" style="border: 1px solid #000;">

                            <h5>{{experiencia.nombre_empresa}} / {{experiencia.inicio}} - {{experiencia.fin}}</h5>
                            <p>Cargo: {{experiencia.cargo_ocupado}}</p>
                            <h6>Tareas realizadas</h6>
                            {{experiencia.tarea_realizadas}}

                        </div>

                    {% endfor %}

                {% endfor %}

            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock content %}