{% extends "contenido.html" %}
{% load static %}
{% block title %} Kangaro Company {%endblock%}
{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'css/user.css' %}"> -->
{% endblock %}
{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="container">

            <div class="row m-4">

                {% for solicitud in solicitudes %}

                    <div class="col-md-12 p-3 d-flex align-content-center mb-3" style="border: 1px solid #000;">

                        <div class="col-md-5 p-3 text-center">

                            <img src="{{solicitud.id_usuario.profileUser.url}}" alt="" class="img-fluid" width="100" height="100">

                            <p>{{solicitud.id_usuario.nombresUs}}</p>

                            <p>{{solicitud.id_usuario.direccion}}</p>


                        </div>

                        <div class="col-md-7 p-3">

                            <h2>Carrera: {{ solicitud.id_usuario.formacionacademica_set.first.carrera }}</h2>

                            <p>Correo: {{solicitud.id_usuario.correoUs}}</p>
                            
                            <p>Telefono: {{solicitud.id_usuario.telefono}}</p>

                            <a href="" class="btn btn-primary" style="border: 1px solid #000;">Ver perfil</a>

                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock content %}