{% extends "contenido.html" %}
{% load static %}
{% block title %} Inicio de sesion {%endblock%}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

<div class="container">

    <div class="row w-100 p-3" style="">

        <div class="col-md-6 m-auto">

            <form action="" method="post">
                <h2 class="text-center mb-3">Login</h2>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-primary form-control">
                <a href="/" class="btn btn-danger mt-2 form-control" style="font-weight: bold; color: #fff;">Regresar a la pagina principal</a>
            </form>

        </div>

    </div>

</div>

{% endblock content %}