<!DOCTYPE html>
<html lang="es-pe">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>MAIL</title>
    
</head>

<body style="color: #000000; background-image: url('https://i.ibb.co/tQwBqP2/img2.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed; min-height: 100vh; display: flex; flex-wrap: wrap; padding: 50px; font-family: 'Urbanist', sans-serif; line-height: 1.5; padding-top: 5vw; padding-bottom: 5vw; background-color: var(--c-gray-400);">
  <div  style="margin: auto; overflow-y: auto; position: relative; z-index: 1; overflow-x: hidden; background-color: rgba(255, 253, 253, 0.267);  flex-direction: column; border-radius: 10px; box-shadow: 0 0 0 8px rgba(93, 150, 204, 0.384); ">
    <div class="card-header" style="position: relative;  width: 100%; text-align: center;">
        
        <img class="card-logo" src="https://i.ibb.co/qWTfztR/Logoicon.png" alt="avatar" style="width: 109px; height: 109px;  object-position: center; margin-bottom: 10;">
      
        <h1 class="card-fullname" style="position: absolute; bottom: 0; font-size: 46px; font-weight: 700; text-align: center; transform: translateY(-20px) translateX(-50%); left: 50%; margin-top: 10px; margin-bottom: 10px;">KANGARO CORP</h1>
      
        <h2 class="card-jobtitle" style="font-size: 22px; white-space: nowrap; font-weight: 500; opacity: 1; text-transform: uppercase; letter-spacing: 5px;">Conéctate con el mundo</h2>
      
    </div>
    <div class="card-content" style="padding: 30px;">
      <div class="card" style="max-width: 1200px; width: 90%; margin: auto;   z-index: 1;  background-color: rgba(183, 199, 224, 0.582); transition: 0.3s; flex-direction: column; border-radius: 10px; box-shadow: 0 0 0 8px rgba(108, 164, 216, 0.753); ">
        <h1 class="card2" style="font-size: 40px; font-weight: bold; margin: 0; text-align: left; line-height: 1; padding: 25px;">¡Ey!</h1>
        <div class="card-body" style="flex-direction: column; justify-content: center; align-items: center; padding: 10px">
          <div class="card-body-text" style="transition: 0.3s;">
            <p style="transition: 0.3s; font-size: 30px; font-weight: bold;">Gracias por ser un miembro más en Kangaro Company 
             ¡Esperamos con entusiamo poder ayudarte a conseguir un empleo!
           </p>
           
            <div class="container">
              <div class="card-body" >
                <div style="text-align: center;">
                <div style="font-size: 43px;"><strong>Buen día {{NombresUs}}</strong> </div>
                </div>
                <div class="box2" style="border: 5px solid var(--c-gray-900); margin-bottom: 0px; width: 90%; border-radius: 25px; border-radius: 3px; overflow: hidden; padding: 2rem; box-shadow: 0 0 0 10px var(--c-gray-300), 0 0 0 11px var(--c-gray-200); background-color: #ebf1f8de; position: relative; z-index: 1; margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0);">
                  <h3 style="margin-top: 0; padding: 2 ; font-size: 31px;">Usted ha sido registrado satisfactoriamente</h3>
                  <h5 style="margin-top: 10px ; font-size: 22px;">Con el nombre de Usuario : {{UserUs}}</h5>
                  <br>
                  <h3 style="margin-top: 2px; display: block; font-size: 31px;">Informacion adicional de su cuenta: </h3>
                  <br> 
                  <div class="cajitas" style=" display:grid; grid-template-columns: 200px 200px; grid-template-rows:min-content; grid-column-gap: 30px; grid-row-gap: 1px; justify-items: center;">
                    <div class="A" style="text-align:center; position:relative; top:1px; width:40%; height:100px; background:#e3f7ff; margin:40px auto; position:relative; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;">
                        <h3  style="font-size: 18px; font-family: 'Times New Roman';">DNI del Usuario : </h3>
                        <h5  style="font-size: 14px; font-family: 'fantasy';">{{DniUs}}</h5>
                    </div>
                    <div class="A" style="text-align:center; position:relative; top:1px; width:40%; height:100px; background:#e3f7ff; margin:40px auto; position:relative; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;">
                        <h3  style="font-size: 18px; font-family: 'Times New Roman';">Género del Usuario : </h3>
                        <h5  style="font-size: 14px; font-family: 'fantasy';">{{SexoUs}}</h5>
    
                      </div>
                      <div class="A" style="text-align:center; position:relative; top:1px; width:40%; height:100px; background:#e3f7ff; margin:40px auto; position:relative; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;">
                        <h3 style="font-size: 18px; font-family: 'Times New Roman';">Fecha de Registro : </h3>
                        <h5 style="font-size: 14px; font-family: 'fantasy';">{{ timestamp }}</h5>
    
    
                      </div>
                      <div class="A" style="text-align:center; position:relative; top:1px; width:40%; height:100px; background:#e3f7ff; margin:40px auto; position:relative; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;">
                        <h3 style="font-size: 18px; font-family: 'Times New Roman';">Fuentes : </h3>
                        <h4  style="font-size: 14px; font-family: 'fantasy';">KANGARO COMPANY</h4>
    
                        
                      </div>
                    </div>
              </div>

              <div class="box3" style="border: 6px solid var(--c-gray-900); margin-bottom: 0px; width: 90%; border-radius: 25px; border-radius: 3px; overflow: hidden; padding: 2rem; box-shadow: 0 0 0 10px var(--c-gray-300), 0 0 0 11px var(--c-gray-200); background-color: #ebf1f8de; position: relative; z-index: 1; margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0); font-size: 20px;">

                <h4>
                  Por favor, recordar siempre que esta página está y sirve para ayudar 
                  a profesionales a encontrar un empleo en una Empresa buena, seguro y 
                  reconocida, a su vez también ayuda a las Empresas a encontrar trabajadores 
                  competentes, no efectúe ninguna acción que pueda romper con los Términos 
                  de Servicio de nuestra Empresa.
                </h4>
              </div>
              <div class="box4" style="border: 6px solid var(--c-gray-900); margin-bottom: 0px; width: 90%; border-radius: 25px; border-radius: 3px; overflow: hidden; padding: 2rem; box-shadow: 0 0 0 10px var(--c-gray-300), 0 0 0 11px var(--c-gray-200); background-color: #ebf1f8de; position: relative; z-index: 1; margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0) ; font-size: 20px;">
             
                <h4>
                  Recordarle que si interfiere con otros usuarios, o causa problemas 
                  a alguna empresa, nos encargaremos de investigar su caso, y al corroborar
                  las denuncias, retiraremos su cuenta de nuestra Web.
                </h4>
              </div>
              
              <div class="box5" style="border: 0px solid var(--c-gray-900); margin-bottom: 10px; width: 90%; border-radius: 25px; border-radius: 3px; overflow: hidden; padding: 2rem; box-shadow: 0 0 0 10px var(--c-gray-300), 0 0 0 11px var(--c-gray-200); background-color: #ebf1f8de; position: relative; z-index: 1; margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0) ; font-size: 20px;">
                <h2 style="font-weight: 1200; text-align: center;">Kangaro Company MailMessage</h2>

                <h4>© 2023, Todos los derechos rervados a Kangaro Company El logotipo de 
                  Kangaro Company, Kangaro Company, El logotipo de KANGARO CORP, Kangaro 
                  Company. Kangaro Company y Kangaro CORP son comerciales o marcas registradas
                   a nombre de Kangaro Company en todo el mundo. El resto de marcas comerciales y empresas pertenecen a sus respectivos propietarios.</h4>
              </div>
              </div>
            </div>
          </div>  


      </div>
    </div>    
</body>
</html>