{% extends "contenido.html" %}
{% load static %}
{% block title %} Kangaro Company {%endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}
{% block content %}

<!-- Header -->

<div class="container">

    <div class="row header mb-2">

        <div class="col-md-12 left-content">

            <div class="content-img d-flex justify-content-center align-items-center">

                <img src="{% static 'img/icon.png' %}" alt="" class="img-fluid" width="15%" height="5%">
                <img src="{% static 'img/word.png' %}" alt="" class="img-fluid" width="35%">
            </div>

        </div>

    </div>

</div>

<!-- Navbar -->

<div class="container">

    <div class="row">

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg d-flex justify-content-between">

            <div class="container m-2">

                <div class="nav-title m-auto">

                    <a class="navbar-brand" href="../inicio">Kangaro Company Perú</a>

                </div>

            </div>

            <div class="container m-2">

                <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                    
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">

                        <li class="nav-item">

                            <a class="nav-link" href="/#about">Nosotros</a>
                        
                        </li>
                        
                        <li class="nav-item">

                            <a class="nav-link" href="/#history">Historia</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'contacto' %}">Contactanos</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="{% url 'ayuda' %}">Ayuda</a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </div>

</div>

<div class=".container">
<div class=".row">
<div class="container">
<div class= "container-fluid" style="background-color: #d4d4d4; height: 140px;">

<h1  style="font-size: 50px; text-align: center;  width: 100%;margin-top: 15px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Términos y Condiciones de Uso de Kangaro Company</h1>
</div>
<hr>
<div style="text-align: left;">
	<ul>
		<details>
			<summary>
			<a href="#TERMINOS Y USOS LEGALES" style="font-weight: bold;  font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Términos y usos legales<a>
			</summary>
		</details>

		<details>
			<summary>
			<a href="#TERMINOS PARA USUARIOS" style="font-weight: bold; font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Términos para usuarios</a>
			</summary>
		</details>

		<details>
		
			<summary>
			<a href="#TERMINOS PARA LA EMPRESA" style="font-weight: bold; font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Términos para la empresa</a>
			</summary>
		
		</details>

		<details>
			<summary style="font-size: 20px;">
				<a href="#RESPONSABILIDAD DEL USUARIO" style="font-weight: bold; font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Responsabilidad del usuario</a>
			</summary>
			<ul>
				<dt>
					<a href="#GESTION DE DATOS" style="color:#000000">4.1 Gestión de datos</a>
				</dt>
				<dt>
					<a href="#DERECHO DE ACCESO" style="color:#000000">4.2 Derecho de acceso</a>
				</dt>
				<dt>
					<a href="#CIERRE DE CUENTA"style="color:#000000">4.3 Cierre de cuenta</a>
				</dt>
				<dt>
					<a href="#SEGURIDAD Y PROTECION"style="color:#000000">4.4 Seguridad y protección de tus datos</a>
				</dt>
				<dt>
					<a href="#NORMAS"style="color:#000000">4.5 Nomas de publicación de contenido de usuario</a>
				</dt>
			</ul>
		</details>

		<details>
			<summary style="font-size: 20px;">
				<a href="#TERMINOS Y CONDICIONES" style="font-weight: bold; font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Responsabilidad del usuario</a>
			</summary>
				<ul>
					<dt>
						<a href="RESPONSABILIDAD" style="color:#000">Responsabilidades</a>
					</dt>
					<dt>
						<a href="PROHIBICIONES" style="color:#000">Responsabilidades</a>
					</dt>
				</ul>
			
		</details>
		
		<details>

			<summary>

				<a href="#CONSECUENCIA" style="font-weight: bold; font-family: Arial; color: rgb(0, 81, 255); font-size: 16px;">Consecuencias</a>
				
			</summary>

		</details>

	</ul>
</div> 
	
<div style="width: 75%; margin:  0 auto; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
	
		<h1 id ="TERMINOS Y USOS LEGALES"  style=" font-weight: bold; margin-top: 35px; margin-bottom: 20px;">Términos y usos legales </h1>
		<hr>
		<ol>
			<li>Al acceder y utilizar este sitio web, aceptas los términos y condiciones establecidos en estos Términos y Condiciones de Uso.</li>
			<li>Todos los contenidos de este sitio web, incluyendo texto, gráficos, imágenes, logotipos, iconos, software y otros elementos, son propiedad exclusiva de Kangaro Company.</li>
			<li>Este sitio web se ofrece "tal cual", sin garantías de ningún tipo, expresas o implícitas.</li>
			<li>Kangaro Company se reserva el derecho de modificar o interrumpir el acceso al sitio web en cualquier momento y sin previo aviso.</li>
			<li>El usuario es responsable de asegurarse de que su uso del sitio web cumpla con las leyes y regulaciones aplicables.</li>
			<li>La página web y todos sus contenidos están protegidos por las leyes de propiedad intelectual y no pueden ser utilizados sin el permiso previo y explícito de Kangaro Company.</li>
			<li>La información y los materiales proporcionados en la página web son solo para fines informativos y no deben ser considerados como asesoramiento profesional o legal.</li>
			<li>Kangaro Company se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento sin previo aviso.</li>
			<li>Los usuarios de la página web aceptan cumplir con todos los términos y condiciones establecidos en esta sección y en las secciones correspondientes para usuarios y empresas.</li>
			<li>El uso de la página web implica la aceptación de la política de privacidad de Kangaro Company.</li>
			<li>Kangaro Company no se hace responsable por cualquier daño o pérdida que pueda resultar del uso del sitio web o la información contenida en él. Los usuarios utilizan el sitio web bajo su propio riesgo y responsabilidad.</li>
			<li>La información proporcionada en el sitio web puede contener errores o inexactitudes y Kangaro Company no se hace responsable por cualquier consecuencia que pueda resultar del uso de dicha información. Los usuarios deben verificar la precisión de la información antes de tomar decisiones basadas en ella.</li>
			<li>Los usuarios no pueden utilizar el sitio web para fines ilegales o fraudulentos. Cualquier actividad que infrinja las leyes y regulaciones aplicables está prohibida y puede resultar en la terminación de la cuenta del usuario.</li>
			<li>El sitio web puede contener enlaces a sitios web de terceros, pero Kangaro Company no tiene control sobre dichos sitios y no se hace responsable por su contenido o prácticas de privacidad. Los usuarios deben revisar los términos y condiciones y las políticas de privacidad de cualquier sitio web de terceros antes de interactuar con él.</li>
			<li>Kangaro Company se reserva el derecho de terminar la cuenta de cualquier usuario que viole estos términos y condiciones. La empresa también puede tomar medidas legales si es necesario para proteger sus intereses.</li>
			<li>El uso del sitio web está sujeto a la jurisdicción exclusiva de las leyes de la República de (país donde se encuentra la empresa). Los usuarios aceptan someterse a la jurisdicción de los tribunales del país donde se encuentra la empresa en caso de disputas relacionadas con el sitio web.</li>
			<li>El sitio web y todos sus contenidos se proporcionan "tal cual" y Kangaro Company no hace ninguna garantía o representación de ningún tipo, ya sea expresa o implícita. La empresa no garantiza la exactitud, integridad, calidad, fiabilidad o adecuación de la información y materiales proporcionados en el sitio web.</li>
			<li>Los usuarios no pueden utilizar el sitio web para enviar spam o cualquier otro tipo de correo no deseado. La empresa se reserva el derecho de tomar medidas legales contra cualquier usuario que utilice el sitio web para actividades de spam.</li>
			<li>Los usuarios aceptan no copiar, modificar, distribuir, vender o transferir cualquier parte del sitio web o su contenido sin el permiso previo y explícito de Kangaro Company. La empresa tiene todos los derechos de propiedad intelectual sobre el sitio web y sus contenidos.</li>
			<li>Kangaro Company se reserva el derecho de suspender o cancelar el acceso al sitio web en cualquier momento y sin previo aviso. La empresa también puede modificar estos términos y condiciones en cualquier momento y sin previo aviso. Los usuarios deben revisar los términos y condiciones regularmente.</li>

		</ol>
			
			
			
	</div>
	<div style="width: 75%; margin:  0 auto; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
	
		
		<h1 id ="TERMINOS PARA USUARIOS"  style=" font-weight: bold; margin-top: 35px; margin-bottom: 20px;">Términos para usuarios</h1>
		<hr>
		<ol>
			<li>Es importante que los usuarios proporcionen información precisa y completa en su perfil, ya que esto puede afectar la funcionalidad y la seguridad de la plataforma. Además, el usuario es responsable de cualquier información falsa o engañosa proporcionada en su perfil.</li>
			<li>Es fundamental que los usuarios cumplan con las leyes y regulaciones aplicables en su jurisdicción. Cualquier actividad ilegal o fraudulenta en el sitio web puede ser motivo de suspensión o eliminación de la cuenta del usuario.</li>
			<li>No se tolerará ningún tipo de contenido ofensivo, discriminatorio o difamatorio en nuestra plataforma. Nos tomamos muy en serio la protección de la privacidad y la seguridad de nuestros usuarios.</li>
			<li>El uso de robots, spiders u otros medios automatizados para acceder al sitio web está prohibido. Esto puede afectar la funcionalidad y la seguridad de la plataforma y puede resultar en la suspensión o eliminación de la cuenta del usuario.</li>
			<li>Aunque hacemos todo lo posible para garantizar que nuestro sitio web esté disponible de manera ininterrumpida, no podemos garantizar su disponibilidad en todo momento. Esto puede deberse a factores fuera de nuestro control, como interrupciones en el servicio de internet o mantenimiento del sitio web.</li>
			<li>Al utilizar nuestros servicios, el usuario acepta nuestros términos y condiciones de uso. Es importante leer y comprender estos términos antes de utilizar nuestra plataforma.</li>
			<li>Nuestros servicios están destinados solo para usuarios mayores de edad. Cualquier usuario menor de edad debe contar con el consentimiento de sus padres o tutores legales para utilizar nuestros servicios.</li>
			<li>El uso de nuestra plataforma con fines ilegales o fraudulentos está estrictamente prohibido. Esto puede incluir la venta o distribución de productos o servicios ilegales o la participación en actividades fraudulentas.</li>
			<li>No toleramos ningún tipo de acoso, intimidación o amenaza en nuestra plataforma. Cualquier usuario que se involucre en este tipo de comportamiento puede ser suspendido o eliminado de nuestra plataforma.</li>
			<li>Es importante que el usuario proporcione información veraz y precisa en su perfil. Esto incluye información de contacto y cualquier otra información que pueda ser relevante para el uso de nuestros servicios. Cualquier información falsa o engañosa puede resultar en la suspensión o eliminación de la cuenta del usuario.</li>
			<li>Es fundamental que los usuarios cumplan con las leyes y regulaciones aplicables en su jurisdicción. Cualquier actividad ilegal o fraudulenta en el sitio web puede ser motivo de suspensión o eliminación de la cuenta del usuario.</li>
			<li>No se tolerará ningún tipo de contenido ofensivo, discriminatorio o difamatorio en nuestra plataforma. Nos tomamos muy en serio la protección de la privacidad y la seguridad de nuestros usuarios.</li>
			<li>El uso de robots, spiders u otros medios automatizados para acceder al sitio web está prohibido. Esto puede afectar la funcionalidad y la seguridad de la plataforma y puede resultar en la suspensión o eliminación de la cuenta del usuario.</li>
			<li>Aunque hacemos todo lo posible para garantizar que nuestro sitio web esté disponible de manera ininterrumpida, no podemos garantizar su disponibilidad en todo momento. Esto puede deberse a factores fuera de nuestro control, como interrupciones en el servicio de internet o mantenimiento del sitio web.</li>
			<li>Al utilizar nuestros servicios, el usuario acepta nuestros términos y condiciones de uso. Es importante leer y comprender estos términos antes de utilizar nuestra plataforma.</li>
			<li>Nuestros servicios están destinados solo para usuarios mayores de edad. Cualquier usuario menor de edad debe contar con el consentimiento de sus padres o tutores legales para utilizar nuestros servicios.</li>
			<li>El uso de nuestra plataforma con fines ilegales o fraudulentos está estrictamente prohibido. Esto puede incluir la venta o distribución de productos o servicios ilegales o la participación en actividades fraudulentas.</li>
			<li>No toleramos ningún tipo de acoso, intimidación o amenaza en nuestra plataforma. Cualquier usuario que se involucre en este tipo de comportamiento puede ser suspendido o eliminado de nuestra plataforma.</li>
			<li>Es importante que el usuario proporcione información veraz y precisa en su perfil. Esto incluye información de contacto y cualquier otra información que pueda ser relevante para el uso de nuestros servicios. Cualquier información falsa o engañosa puede resultar en la suspensión o eliminación de la cuenta del usuario.</li>
			<li>Como parte de nuestro proceso de verificación, podemos comprobar la información proporcionada por el usuario en su perfil y en su currículum vitae. Esto es para garantizar la exactitud y la veracidad de la información que se muestra en nuestra plataforma.</li>
			<li>Al utilizar nuestros servicios, el usuario acepta que podemos compartir su información con empresas que buscan candidatos para puestos de trabajo. Sin embargo, no compartiremos información personal sin el consentimiento del usuario.</li>
			<li>Es importante que el usuario comprenda que no podemos garantizar que el uso de nuestra plataforma resulte en la obtención de un empleo. Ofrecemos herramientas y recursos para ayudar a los usuarios en su búsqueda de trabajo, pero no podemos garantizar la contratación.</li>
		</ol>
	
	</div>

	<div style="width: 75%; margin:  0 auto; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
		
		<h1 id="TERMINOS PARA LA EMPRESA"  style=" font-weight: bold; margin-top: 35px; margin-bottom: 20px;">Términos para la empresa</h1>
		<hr>
		<p>1. Las empresas deben cumplir con las leyes y regulaciones aplicables y no utilizar el sitio web para actividades ilegales o fraudulentas. Esto significa que las empresas deben respetar todas las leyes y normas locales, estatales y federales que rigen su actividad comercial y no utilizar la plataforma para llevar a cabo actividades ilegales o fraudulentas. En caso de que se detecte una actividad de este tipo, se tomarán medidas inmediatas y la cuenta de la empresa será eliminada.</p>
		<p>2. Las empresas aceptan que la información proporcionada en el sitio web será utilizada únicamente para fines de selección de personal. Esto significa que la información proporcionada en la plataforma solo se utilizará con el fin de seleccionar candidatos para posibles oportunidades laborales. Las empresas no podrán utilizar esta información con fines de marketing o para cualquier otra actividad que no sea la de selección de personal.</p>
		<p>3. Las empresas aceptan no utilizar robots, spiders u otros medios automatizados para acceder al sitio web. Esto significa que las empresas no podrán utilizar ningún software automatizado o herramienta de extracción de datos para recopilar información de la plataforma. Se espera que todas las interacciones en la plataforma sean realizadas por personas reales.</p>
		<p>4. Las empresas aceptan que Kangaro Company no garantiza la disponibilidad ininterrumpida del sitio web. Esto significa que la plataforma puede sufrir interrupciones y errores técnicos que puedan afectar la disponibilidad del sitio web. Kangaro Company no garantiza la disponibilidad ininterrumpida del sitio y no será responsable de cualquier pérdida o daño resultante de la falta de disponibilidad.</p>
		<p>5. Kangaro Company se reserva el derecho de eliminar la cuenta de cualquier empresa que viole estos términos y condiciones de uso. Esto significa que si una empresa viola alguno de los términos y condiciones establecidos en este documento, Kangaro Company se reserva el derecho de eliminar su cuenta en la plataforma. Esto puede resultar en la pérdida de acceso a información importante y oportunidades de selección de personal.</p>
		<p>6. El uso de la plataforma implica la aceptación y cumplimiento de los términos y condiciones de uso establecidos en este documento. Al registrarse y utilizar la plataforma, las empresas aceptan cumplir con todos los términos y condiciones establecidos en este documento. Es importante leer y comprender completamente estos términos antes de utilizar la plataforma.</p>
		<p>7. Solo las empresas registradas y autorizadas por KANGARO COMPANY pueden publicar ofertas de trabajo en la plataforma. Para poder publicar ofertas de trabajo en la plataforma, las empresas deben estar registradas y autorizadas por Kangaro Company. Esto garantiza la calidad y legitimidad de las oportunidades laborales publicadas en la plataforma.</p>
		<p>8. KANGARO COMPANY se reserva el derecho de rechazar o eliminar cualquier oferta de trabajo que viole los términos y condiciones establecidos en este documento. Kangaro Company se reserva el derecho de revisar y eliminar cualquier oferta de trabajo que viole los términos y condiciones establecidos en este documento. Esto garantiza que todas las ofertas de trabajo publicadas en la plataforma cumplan con los estándares de calidad y legalidad.</p>
		<p>9. Las empresas son responsables de la exactitud y veracidad de la información publicada en la plataforma. Es responsabilidad de las empresas garantizar que la información proporcionada en la plataforma sea precisa.</p>
		<p>10. KANGARO COMPANY no se hace responsable de los acuerdos comerciales entre las empresas y los usuarios de la plataforma: Esto significa que cualquier acuerdo comercial entre una empresa y un usuario de la plataforma se realiza bajo su propia responsabilidad y KANGARO COMPANY no asume ninguna responsabilidad por esos acuerdos.</p>
		<p>11. Las empresas no pueden utilizar la plataforma para publicar contenido ilegal, inapropiado o discriminatorio: Las empresas no pueden publicar ningún contenido que viole la ley o que sea considerado inapropiado o discriminatorio en la plataforma. Cualquier violación de esta regla puede resultar en la cancelación del acceso de la empresa a la plataforma.</p>
		<p>12. Las empresas no pueden utilizar la información de los usuarios con fines distintos a la selección de personal: Las empresas solo pueden utilizar la información de los usuarios para la selección de personal y no pueden utilizarla para ningún otro propósito. Esto significa que las empresas no pueden utilizar la información de los usuarios para fines publicitarios o de marketing sin su consentimiento expreso.</p>
		<p>13. Las empresas deben cumplir con todas las leyes y regulaciones aplicables en su país y en la región donde operan: Las empresas que utilizan la plataforma deben cumplir con todas las leyes y regulaciones aplicables en su país y en la región donde operan. Cualquier violación de estas leyes y regulaciones puede resultar en la cancelación del acceso de la empresa a la plataforma.</p>
		<p>14. KANGARO COMPANY se reserva el derecho de suspender o cancelar el acceso de las empresas a la plataforma en caso de incumplimiento de los términos y condiciones de uso: Si una empresa viola los términos y condiciones de uso de la plataforma, KANGARO COMPANY se reserva el derecho de suspender o cancelar su acceso a la plataforma. Esto se hace para garantizar que todas las empresas cumplan con los términos y condiciones establecidos y para mantener un ambiente seguro y justo para los usuarios de la plataforma.</p>
		<p>15. Las empresas no pueden utilizar la información de los usuarios con fines publicitarios o de marketing sin su consentimiento expreso: Las empresas no pueden utilizar la información de los usuarios para fines publicitarios o de marketing sin su consentimiento expreso. Cualquier violación de esta regla puede resultar en la cancelación del acceso de la empresa a la plataforma.</p>
		<p>16. Las empresas no pueden solicitar información personal o financiera de los usuarios fuera de la plataforma: Las empresas no pueden solicitar información personal o financiera de los usuarios fuera de la plataforma. Esto se hace para garantizar la privacidad y seguridad de los usuarios de la plataforma.</p>
		<p>17. KANGARO COMPANY no garantiza la calidad o aptitud de los candidatos presentados a las empresas a través de la plataforma: KANGARO COMPANY no puede garantizar la calidad o aptitud de los candidatos presentados a las empresas a través de la plataforma. Es responsabilidad de cada empresa seleccionar y contratar a los candidatos adecuados para sus necesidades.</p>
		<p>18. Las empresas son responsables de la selección y contratación de los candidatos presentados a través de la plataforma: Las empresas son las responsables de la selección y contratación de los candidatos presentados a través de la plataforma. KANGARO COMPANY no asume ninguna responsabilidad por la selección y contratación de candidatos.</p>
		<p>19. Las empresas solo pueden utilizar la información de los usuarios para fines relacionados con la selección de personal y no pueden utilizarla para ningún otro propósito sin su consentimiento expreso. Esto se hace para garantizar que la privacidad y seguridad de los usuarios de la plataforma estén protegidas y que la información personal no se utilice de manera inapropiada.</p>
		<p>20. KANGARO COMPANY se reserva el derecho de actualizar o modificar los términos y condiciones de uso en cualquier momento sin previo aviso. Es responsabilidad de todas las empresas que utilizan la plataforma mantenerse actualizadas sobre cualquier cambio en los términos y condiciones de uso. KANGARO COMPANY se esfuerza por mantener a los usuarios informados sobre cualquier cambio importante en los términos y condiciones, sin embargo, las empresas deben verificar periódicamente los términos y condiciones para asegurarse de que están cumpliendo con las políticas actualizadas.</p>
	</div>	
		
	<div style="width: 75%; margin:  0 auto; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
		
		<h1 id="RESPONSABILIDAD DEL USUARIO" style=" font-weight: bold; margin-top: 35px; margin-bottom: 20px;">Responsabilidades del usuario</h1>
		
		<h2 id="GESTION DE DATOS">4.1 Gestión de datos</h2>
		<hr>
		<p>Conservaremos la mayoría de sus datos personales mientras su cuenta permanezca activa.</p>
		<p>Por lo general, conservamos sus datos personales mientras tenga una cuenta con nosotros o mientras sea necesario para brindarle nuestros servicios. Esto incluye datos que usted u otros nos proporcionan, y datos que se generan o se infieren a partir de su uso de nuestros servicios. Incluso si solo usa nuestros servicios cada pocos años, mantendremos su información y perfil válidos a menos que decida cerrar su cuenta. En algunos casos, elegimos retener cierta información (por ejemplo, información sobre el uso de nuestros Servicios) en un formato no identificado o agregado.</p>
		
		<h2 id="DERECHO DE ACCESO">4.2 Derecho de acceso y control de sus datos personales</h2>
		<hr>
		<p>Tiene derecho a acceder y controlar sus datos personales. Le proporcionamos una variedad de opciones para recopilar, usar y compartir sus datos.</p>
		<p>Le brindamos una serie de opciones para controlar la recopilación, el uso y el intercambio de sus datos personales, como eliminar o corregir datos en su perfil y controlar la visibilidad de sus publicaciones. Proporcionamos configuraciones que le permiten controlar y administrar los datos personales que tenemos sobre usted.</p>
		<p>Con respecto a sus datos personales, usted tiene derecho a : </p>
			<ul>
				<li>Eliminación de datos: puede solicitarnos que eliminemos o eliminemos todos o algunos de sus datos personales si ya no son necesarios para que le brindemos servicios.</li>
				<li>Cambio o Corrección de Datos: Puede editar algunos de sus datos personales a través de su cuenta. En determinadas circunstancias, también podrá solicitar que sus datos sean modificados, actualizados o corregidos, especialmente si los datos son inexactos.</li>
				<li>Rechazar, limitar o restringir el uso de datos: Puedes solicitarnos dejar de usar la totalidad o parte de tus datos personales si legalmente no tenemos derecho a usarlos, o limitar su uso si no son precisos o no se conservan legalmente.</li>
				<li>Derecho de acceso y/o portabilidad de tus datos: Puedes solicitarnos una copia de tus datos personales y una copia de los datos personales en un formato legible por máquina.</li>
			</ul>
		<p>Los visitantes pueden obtener más información sobre cómo realizar estas solicitudes <a href="#">aquí</a>. También puedes contactarnos utilizando la información de contacto que se encuentra a continuación. Gestionaremos tu solicitud de acuerdo con la ley aplicable.</p>
		<p>Es posible que los residentes en ciertas regiones tengan derechos adicionales en virtud de la ley aplicable.</p>

		<h2 id="CIERRE DE CUENTA">4.3 Cierre de cuenta</h2>
		<hr>
		<p>Incluso después de cerrar su cuenta, conservamos algunos de sus datos.</p>
		<p>Si decide cerrar su cuenta de Kangaro, sus datos personales ya no se mostrarán en nuestros servicios, generalmente dentro de las 24 horas. Por lo general, eliminamos la información de las cuentas cerradas dentro de los 30 días posteriores al cierre de la cuenta, con las siguientes excepciones.</p>
		<ul>
				<li>Si es razonablemente necesario para cumplir con nuestras obligaciones legales (incluidas las solicitudes de cumplimiento de la ley), cumplir con los requisitos reglamentarios, resolver disputas, mantener la seguridad y prevenir el fraude y el abuso (por ejemplo, si restringimos su cuenta debido a una violación de nuestras políticas de la comunidad profesional),</li>
			<li>Aplique nuestros términos de uso, o cumpla con su solicitud para darse de baja de futuras comunicaciones de Kangaro.</li>
		</ul>
		<p>Una vez que se cierre su cuenta, conservaremos la información anonimizada. Después de cerrar su cuenta o eliminar información de su propio perfil o buzón, seguirá viendo la información que ha compartido con otros (por ejemplo, a través de mensajes de GMail, actualizaciones o publicaciones grupales). No controlamos los datos de otros miembros.</p>
		<p>El contenido, los comentarios o las revisiones en grupos asociados con cuentas cerradas mostrarán al usuario desconocido como propietario. Su perfil puede continuar apareciendo en servicios de terceros (por ejemplo, resultados de motores de búsqueda) hasta que actualicen su cache.</p>
			
		<h2 id="SEGURIDAD Y PROTECION">4.4. Seguridad y protección de tus datos</h2>
		<hr>
		<p>En nuestra empresa, estamos comprometidos en garantizar la seguridad y protección de tus datos. Para ello, utilizamos diversas funcionalidades de seguridad disponibles en nuestros Servicios.</p>
		<p>Implementamos medidas de seguridad diseñadas para prevenir y controlar posibles fallos en materia de seguridad. Por ejemplo, utilizamos HTTPS para proteger tus datos durante su transmisión por internet. Además, periódicamente realizamos controles de seguridad en nuestros sistemas con el fin de detectar posibles vulnerabilidades y ataques.</p>
		<p>Sin embargo, es importante tener en cuenta que no podemos garantizar al 100% la seguridad de la información que nos envíes. A pesar de que aplicamos medidas de seguridad físicas, técnicas y de gestión, una filtración en alguna de estas medidas podría permitir el acceso, la divulgación, la alteración o la destrucción de tus datos.</p>
		<p>Por esta razón, te recomendamos visitar nuestro Centro de seguridad para obtener mayor información acerca de cómo utilizar nuestros Servicios de manera segura. Entre las recomendaciones que encontrarás en este centro, se encuentra la activación de la autenticación en dos pasos para incrementar la seguridad de tu cuenta.</p>
		
		<h2 id="NORMAS">4.5 Normas de publicación de contenido de usuario</h2>
		<hr>
		<p>Al publicar contenido en el portal web de Kangaro Company, el usuario se compromete a cumplir con las siguientes normas:</p>
			<ol>
				<li>El contenido proporcionado por el usuario debe ser veraz y preciso. El usuario garantiza la autenticidad de toda la información proporcionada y su derecho o autorización para hacerlo.</li>
				<li>Es responsabilidad del usuario mantener todo el contenido permanentemente actualizado y responder en todo momento a su situación real. El usuario será el único responsable de cualquier declaración falsa o inexacta que haga y de los perjuicios que pueda causar a Kangaro Company o a terceros.</li>
				<li>El usuario se abstendrá de utilizar, publicar o poner a disposición en el portal web cualquier contenido que pueda interpretarse como injurioso, difamatorio, calumnioso, discriminatorio, abusivo, obsceno, que contenga insultos de carácter sexual, étnico o racial o que sepa que es falso, engañoso o inexacto.</li>
				<li>El usuario se abstendrá de utilizar, publicar o poner a disposición en el portal web cualquier contenido ilegal, pornográfico o que vulnere las leyes de protección de menores, incluyendo imágenes de menores, o con la intención de publicitar, ofrecer o distribuir productos pornográficos o que vulneren las leyes de protección de menores, así como molestar a otros usuarios (especialmente mediante spam).</li>
				<li>El usuario se abstendrá de utilizar, publicar o poner a disposición en el portal web cualquier contenido protegido legalmente (en particular, por la legislación relativa a la propiedad intelectual e industrial, como marcas, patentes, modelos de utilidad o modelos estéticos, secretos comerciales) sin tener derecho o autorización para hacerlo.</li>
				<li>El usuario se abstendrá de utilizar, publicar o poner a disposición en el portal web cualquier contenido que pueda deteriorar o afectar de cualquier forma la calidad de los servicios ofrecidos en el portal web.</li>
				<li>El usuario comprende y acepta que el uso de los servicios del portal web es bajo su propia responsabilidad.</li>
			</ol>
		<p>Kangaro Company se reserva el derecho de eliminar cualquier contenido o parte del mismo que, a su exclusivo criterio, infrinja las normas de publicación anteriores o cualquier otra obligación recogida en las Condiciones Legales. Si considera que un contenido incumple estas normas, póngase en contacto con nuestro equipo de atención al cliente para que podamos considerar su eliminación.</p>
		<p>El usuario será responsable de cualquier daño o perjuicio que Kangaro Company pueda sufrir como resultado del incumplimiento intencional o negligente de cualquiera de las obligaciones establecidas en las presentes Condiciones Legales y la normativa aplicable.</p>
	</div>

	<div style="width: 75%; margin:  0 auto; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
		<h1 id="TERMINOS Y CONDICIONES">Términos y condiciones</h1>
		<h3 id="RESPONSABILIDAD">Responsabilidades</h3>
		<hr>
		<ol>
			<li>Debes cumplir con todas las leyes y regulaciones aplicables, incluyendo las leyes de privacidad, propiedad intelectual, antispam, fiscales y tributarias, y otros requisitos regulatorios.</li>
			<li>Es importante proporcionar información precisa y mantenerla actualizada en todo momento.</li>
			<li>Utilizar la plataforma de manera profesional y respetuosa.</li>
			<li>Debes utilizar tu nombre real en tu perfil de Kangaro Company y utilizar la plataforma de manera profesional y respetuosa.</li>
		</ol>
		<h3 id="PROHIBICIONES">Prohibiciones</h3>
		<hr>
		<ol>
			<li>No puedes crear una identidad falsa en Kangaro Company, falsificar tu identidad, crear un perfil para alguien que no seas tú o utilizar la cuenta de otra persona sin su consentimiento.</li>
			<li>Está prohibido desarrollar, apoyar o utilizar programas, dispositivos, scripts, robots o cualquier otro medio o proceso para copiar los Servicios de Kangaro Company o plagiar perfiles u otros datos de la plataforma.</li>
			<li>No puedes evadir cualquier función de seguridad o burlar cualquier control de acceso o límite de uso de Kangaro Company.</li>
			<li>Está prohibido copiar, utilizar, divulgar o distribuir cualquier información obtenida de Kangaro Company sin el consentimiento de la plataforma.</li>
			<li>No puedes revelar información confidencial de terceros, incluyendo información de la empresa.</li>
			<li>No puedes infringir los derechos de propiedad intelectual de terceros, como derechos de autor, patentes, marcas, secretos comerciales u otros derechos de propiedad.</li>
			<li>Está prohibido infringir la propiedad intelectual u otros derechos de Kangaro Company, incluyendo la copia o distribución de los materiales de aprendizaje de la plataforma sin autorización.</li>
			<li>No puedes publicar cualquier cosa que contenga virus informáticos, gusanos o cualquier otro código dañino.</li>
			<li>Está prohibido utilizar técnicas de ingeniería inversa, descompilar, desarmar, descifrar o de otro modo tratar de obtener el código fuente de Kangaro Company o cualquier tecnología relacionada que no sea de código abierto.</li>
			<li>Dar a enterarse ya recordar que estás socio ya avalado por kangaro sin nuestro éxito expreso (por ejemplo, presentarte como educativo puro de kangaro company).</li>
			<li>Alquilar, prestar, comercializar, vender/revender u conseguir cualquier otro gallo de deducción de los Servicios ya datos relacionados, tampoco entrar a los mismos sin el éxito de kangaro company.</li>
			<li>Establecer enlaces a nuestros Servicios para cualquier otra rumbo que la de originar tu rasgo ya un bandada en nuestros Servicios, sin el éxito de kangaro company.</li>
			<li>Utilizar bots u otros métodos automatizados para entrar a los Servicios, para adjuntar ya dar contactos ya para destinar ya redirigir mensajes.</li>
			<li>Controlar la disponibilidad, el conveniencia ya el funcionamiento de los Servicios con fines competitivos.</li>
			<li>Modificar el rendimiento de los Servicios de forma injustificada o inapropiada, ya sea mediante el envío de correos no deseados, la realización de ataques de denegación de servicio, la propagación de virus informáticos o la implementación de algoritmos maliciosos.</li>
		</ol>
		<h2 id="CONSECUENCIA">Consecuencia de no cumplir con las condiciones de uso de kangaro company</h2>
		<hr>
		<ul>
			<li style="font-size: 18px;">
				Kangaroo Company se reserva el derecho de tomar medidas adecuadas en caso de que se detecte una violación de cualquiera de estas condiciones de uso. Estas medidas pueden incluir, entre otras, la eliminación de contenido, la suspensión o terminación de cuentas, la restricción de acceso a los servicios y la cooperación con las autoridades legales para la resolución de cualquier situación que se haya generado a causa de la violación.
				Además, Kangaroo Company se reserva el derecho de modificar o actualizar estas condiciones de uso en cualquier momento y sin previo aviso. Al continuar utilizando nuestros servicios después de cualquier cambio en estas condiciones de uso, se considerará que ha aceptado los nuevos términos.
				En resumen, en Kangaroo Company nos preocupamos por mantener una comunidad profesional respetuosa y segura para todos nuestros usuarios. Esperamos que todos los miembros de nuestra comunidad sigan estas pautas de uso para garantizar una experiencia positiva para todos.
				
			</li>
		</ul>
		</ol>
</div>
</div>
</div>
</div>
{% endblock content %}