.container{

    /* border: 1px solid #000; */
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

label{

    margin-bottom: 10px;

}
