.container{

    border: 1px solid #000;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container-register{

    border: 1px solid #000;
    display: flex;
    width: 100%;

}

.container-user, .container-company{

    border:1px solid #000;
    margin: 20px;
    padding: 20px;
    width: 50%;

}